<div
  class="alert alert-danger text-center text-monospace"
  role="alert"
  *ngIf="error"
>
  <span class="h1 text-bold">Error {{ cod }} </span>
  <br />
  <span class="h2">{{ aviso }}</span>
</div>
<app-loading *ngIf="loading"></app-loading>

<div class="d-flex justify-content-center" nfIf="!loading">
  <div class="mr-5" id="artista">
    <div class="card animated fadeIn" style="width: 18rem" *ngIf="!loading">
      <img
        [src]="artista.images | noimage"
        class="card-img-top"
        [alt]="artista.name"
      />
      <div class="card-body">
        <p class="card-text h2 text-monospace">{{ artista.name }}</p>
        <p class="card-text h6 text-monospace">
          Popularidad: {{ artista.popularity }}º<br />
          Seguidores: {{ artista.followers["total"] | number }}
        </p>
        <p class="card-text h6 text-monospace">Géneros: {{ artista.genres }}</p>
        <a
          [href]="artista.external_urls.spotify"
          target="_blank"
          class="card-link"
          >Página de Spotify</a
        >
      </div>
    </div>
  </div>
  <div class="ml-5" id="tracks">
    <table class="table">
      <thead class="text-primary">
        <tr>
          <th scope="col"></th>
          <th scope="col">Titulo</th>
          <th scope="col">Album</th>
          <th scope="col">Fecha de publicacion</th>
        </tr>
      </thead>
      <tbody class="text-light">
        <tr *ngFor="let track of tracks">
          <td scope="row" class="mr-5 ml-5 mt-1 mb-1">
            <iframe
              [src]="track.uri | spotify"
              width="300"
              height="80"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </td>
          <td scope="row" class="mr-5 ml-5 mt-1 mb-1">{{ track.name }}</td>
          <td scope="row" class="mr-5 ml-5 mt-1 mb-1">
            {{ track.album.name }}
          </td>
          <td scope="row" class="mr-5 ml-5 mt-1 mb-1 text-center">
            {{ track.album.release_date | fecha }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
